.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
/.history
/source/demo-project/**/node_modules/
/source/demo-project/**/esm/
/source/demo-project/**/dist/
/source/demo-project/**/lib/
/source/demo-project/**/.history/
/source/demo-project/**/debugger-template/
/source/demo-project/**/debugger-template-pdf/